/* generic root, body content */
html {
	background-color: rebeccapurple;
	/*background-color: blue;*/
	font-family: tahoma, serif;
	font-size: 14px;
}
body {
	position: relative;
	max-width: 1000px;
	background-color: white;
	border: 3px solid black;
	box-shadow: 3px 3px black;
	padding: 2em;
	margin-top: 2em;
	transition: all 0.05s linear;
} body:hover {
	box-shadow: 3px 3px blue;
	border-color: blue;
} body, h1 {
	margin-left: auto;
	margin-right: auto;
} @media only screen and (max-width:1000px) {
	body {
		margin-left: 5px;
		margin-top: 5px;
		margin-right: 8px;
		margin-bottom: 8px;
		padding-left:2pt;
		padding-right:2pt;
	}
}

/* generic div,  */
div {
	border: 3px double black;
	padding: 3px;
}
div:not(:first-of-type) {
	margin-top: 2px;
}

/* generic headings */
h1 {
	margin-top: 0;
}
h1, h2, .byline { border-bottom: 1px dotted black; }

/* generic horizontal rule */
hr {
	background-image: url('img/hr.gif');
	border: 0px;
	height: 2px;
}

/* disable anti-aliasing */
img, hr, span {
	image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
	image-rendering: pixelated; /* Chrome */
	image-rendering: optimizeSpeed;	/* STOP SMOOTHING, GIVE ME SPEED */
	image-rendering: -moz-crisp-edges; /* Firefox */
	image-rendering: -o-crisp-edges; /* Opera */
	image-rendering: optimize-contrast; /* CSS3 Proposed */
	-ms-interpolation-mode: nearest-neighbor; /* IE8+ */
}

/* entries.html, view.html */
#flourish {
	margin: 0 auto;
}

/* edit.html, view.html */
.byline {
	margin-top:0;
	margin-bottom: 5px;
	font-size: 12px;
}

/* edit.html, entries.html, view.html */
h1, #save, #toc, #pages, #pages *, #flourish, .byline {
	display: table;
}
