/* generic input fields */
textarea {
	padding: 0;
	width: 100%;
	max-width: 100%;
}

input[type="text"] {
	padding-left: 2px;
}

select,
textarea,
input[type="text"],
input[type="date"],
input[type="button"],
input[type="submit"],
button {
	border: 1px double black;
	margin-bottom: 3px;
	display: block;
	box-shadow: 1px 1px black;
}

select:hover,
select:focus,
textarea:hover,
textarea:focus,
input[type="text"]:hover,
input[type="text"]:focus,
input[type="date"]:hover,
input[type="date"]:focus,
input[type="button"]:hover,
input[type="submit"]:hover,
button:hover {
	border-color: blue;
}

input[type="button"]:active,
input[type="submit"]:active,
button:active {
	box-shadow: none;
	margin-left: 1px;
	margin-top: 1px;
	margin-bottom: 2px;
}
